**/.idea/*
!/.idea/icon.png
!/.idea/vcs.xml
!/.idea/copyright
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles
!/.idea/dictionaries
!/.idea/inspectionProfiles
*.iml
.gradle
build
release
local.properties
secrets.properties
Keystore files
*.jks
*.keystore

